/* chickenstirfry.css */

.background{
    background-color: greenyellow;
    font-family: 'Times New Roman', Times, serif;
}
.subtitle{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}