/* frenchtoast.css */
.background{
    background-color:rgb(168, 143, 60);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.center
{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.imageborder{
    border: 5px solid gold;
}
.indent{
    padding-left: 20px;
}